.badge {
    display: flex;
    justify-content: center;
    align-items: center;
  height: 1.57rem;
  width: 2.2rem;
  border-radius: .4rem;
  box-shadow: 1px 1px 3px -2px;
}

.badge > p {
    color:white;
    font-weight:800;
    font-size:.95rem;
}

.badge.blue{
    background-color: var(--blue);
}
