@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

html {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 84%, 38%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
  --grayish-blue: hsl(219, 14%, 63%);

  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--very-light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
